.bigview {
    background: linear-gradient(90deg, rgb(183, 194, 198) 0%, rgb(6, 24, 85) 0%, rgb(2, 71, 148) 55%, rgb(8, 21, 73) 100%, rgb(17, 61, 75) 100%);
    position: absolute;
    transform-origin: left top;
    left: 0;
    top: 0;
    z-index: 1;
    display: none;

    &>.title-view {
        position: absolute;
        left: 0%;
        top: 0%;
        width: 100%;
        height: 9%;
        background-size: 100% 100%;
        background-repeat: no-repeat;
        background-position: center top;

        &>.title {
            color: #d7d7d7;
            text-align: center;
            line-height: 40px;
            position: relative;
            top: calc(50% - 20px);
            font-weight: 800;
        }
    }

    &>.view-item {
        position: absolute;
        width: 22%;
        height: 30%;
        background-color: rgb(146 199 225 / 9%);

        &>.sub-title {
            position: absolute;
            background-color: #607d8b38;
            width: 100%;
            line-height: 30px;
            padding-left: 10px;
            color: white;
            font-size: 20px;
        }
    }
}