.manual-unlocking {
    background-color: #e7e7e7;
    width: 300px;
    height: 480px;

    .view {
        text-align: center;
        pointer-events: none;

        .icon {
            width: 80px;
            height: 80px;
            border-radius: 50%;
            display: inline-block;
            margin-top: 30px;
            font-size: 0;
            background-size: 100% auto;
        }

        .label {
            font-size: 14px;
            font-family: cursive;
            font-style: italic;
            line-height: 50px;
            color: #6e7476;
        }

        .name {
            font-size: 16px;
            color: black;
        }
    }

    .content {
        width: 300px;
        height: 300px;
    }
}