.app-view {
    padding-top: 50px;

    &>.header {
        position: fixed;
        left: 0;
        top: 0;
        height: 50px;
        line-height: 50px;
        width: 100%;
        border-bottom: 1px solid rgb(232, 232, 232);
        background-repeat: no-repeat;
        background-size: auto 90%;
        background-position: 20px center;
        padding-left: 70px;
        white-space: nowrap;
        z-index: 1;
        background-color: white;
        box-sizing: border-box;

        &>.tips {
            display: inline-block;
            font-size: 18px;
            vertical-align: bottom;
            font-weight: 800;
            color: #000000;

            &>a {
                margin: 0 5px;
                color: #024691;
                text-decoration: none;

                &:hover {
                    text-decoration: underline;
                }
            }
        }

        &>a {
            position: absolute;
            right: 20px;
            top: 0;
            line-height: 50px;
            color: black;
            text-decoration: underline;
            font-size: 15px;
            font-style: italic;
            font-weight: 200;
            cursor: pointer;
            z-index: 1;

            &:hover {
                font-weight: 800;
            }
        }
    }
}